{% extends 'post/base.html' %}
{% block content %}
<div class = 'container'>
    <h1>ホーム</h1>
    {% if user.is_authenticated %}
    <p>ユーザー名: {{ user.username }} さん</p>
    <form method="post" action="{% url 'logout' %}">
        {% csrf_token %}
        <button type="submit">ログアウト</button>
    </form>

    {% else %}
    <p>ログインしていません</p>
    <a href="{% url 'login' %}">ログイン</a>
    {% endif %}
        {% if messages %}
        <ul class = 'list-unstyled'>
            {% for message in messages%}
                <li {% if message.tags %} class = "{{message.tags}}" {% endif %}>{{message}}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <h2>投稿一覧</h2>
    {% for item in object_list %}
    <div class = 'card mb-3'>
        <h5 class = 'card-title'>{{item.owner}}<h5>
        <p class = 'catd-text'>{{item.content}}</p>
        <p class = 'card-text text-right'>{{ item.created_at }}</p>
    </div>
    {% endfor %}
</div>
{% endblock %}
